<%= form_for @shoot, :html => { :multipart => true } do |f| %>
  <% if @shoot.errors.any? %>
    <div id="error_explanation">
      <ul>
      <% @shoot.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_field :title, :placeholder => "Shoot Title", :title => "Type shoot title" %>
  </div>
  <div class="field">
	<%= f.file_field :thumb %>
  </div>
  <%= f.submit "Create", :class => "fl btn btn-large btn-primary" %>
<% end %>
