<header>
	<%= link_to "JASON Mc CARTHY", root_path, :class => "logo" %>
	<nav>
		<ul>
			<li><%= link_to "Portfolio", shoots_path %></li>
			<li><%= link_to "Info", info_path %></li>
		</ul>
	</nav>
	
	<ul class="filters">
		<li><%= link_to "All", shoots_path %></li>
		<li><%= link_to "Fashion", shoots_path(tag_name: "Fashion") %></li>
		<li><%= link_to "Portrait", shoots_path(tag_name: "Portrait") %></li>
		<li><%= link_to "Landscape", shoots_path(tag_name: "Landscape") %></li>
		<li><%= link_to "Wedding", shoots_path(tag_name: "Wedding") %></li>
	</ul>
</header>