<header>
		<%= link_to "JASON Mc CARTHY", root_path, class: "logo" %>
		
		<nav>
      <%= link_to "Work", portfolio_path %>
      <%= link_to "Mail", "mailto:contact@jasonmccarthy.ie", target: "_blank" %>
      <%= link_to "Blog", "http://jasonmccarthy.tumblr.com", target: "_blank" %>
				
			<% if current_user %>
        <%= link_to "Log out", logout_path, method: :delete %>
			<% end %>
		</nav>
		
    <%= content_for(:filters) %>
</header>
