<header>
	<%= link_to "JASON Mc CARTHY", root_path, :class => "logo" %>
	<nav>
		<ul>
			<li><%= link_to "Portfolio", shoots_path %></li>
			<li><%= link_to "Info", info_path %></li>
			<% if current_user %>
			    <li><%= link_to "Log out", logout_path %></li>
			<% end %>
		</ul>
	</nav>
	
	<%= yield :filters %>
</header>