<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Jason McCarthy</title>

	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

	<%= stylesheet_link_tag    "application", :media => "all" %>
    <%= csrf_meta_tags %>
	
	<script type="text/javascript" src="assets/queries.js"></script>
	
	<script type="text/javascript" src="http://use.typekit.com/fbq0usz.js"></script>
	<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  </head>
  <body>
    <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>"><%= value %></div>
    <% end %>

    <%= render 'layouts/header' %>

    <%= yield %>

    <%= javascript_include_tag "application" %>
  </body>
</html>
