<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Jason McCarthy</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <script type="text/javascript" src="http://use.typekit.com/ghw8nkj.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <%= csrf_meta_tags %>
  </head>
  <body>
    <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>"><%= value %></div>
    <% end %>

    <%= render 'layouts/header' %>

    <%= yield %>

    <%= javascript_include_tag "application" %>
  </body>
</html>
